* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

nav {
    border: 0 solid black;
    background-color: black;
    box-shadow: 0 0 20px 0 black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    .links {
        ul {
            display: flex;
            flex-direction: row;
            gap: 26px;
            width: 100%;
            justify-content: center;

            li {
                list-style: none;
                padding: 24px;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .logo {
        text-align: center;

        span {
            padding: 10px;

            h2 {
                color: white;
                font-size: 28px;
                font-family: "Brush Script MT", cursive;
            }
        }
    }
}

main {
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        /*background: rgb(205, 166, 99);*/
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("src/home.jpg");
        height: 65vh;

        .heroText {
            h2 {
                color: white;
                margin-top: 200px;
                font-size: 30px;

                label {
                    font-family: "Brush Script MT", cursive;
                    font-size: 70px;
                }
            }

            p {
                color: white;
                margin-top: 15px;
                font-size: 17px;
                max-width: 700px;
            }
        }
    }

    .menu {
        text-align: center;
        justify-items: center;
        padding: 25px;

        h2 {
            margin-top: 40px;
            font-size: 33px;
        }

        .menuCards {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            padding: 20px;
            gap: 30px;

            .card {
                /*background-color: whitesmoke;*/
                width: 180px;
                height: 200px;
                border-radius: 10px;
                padding: 20px;
                border: 0 solid white;
                box-shadow: 0 0 3px 0 black;

                img {
                    width: 100px;
                    height: 100px;
                }

                h3 {
                    margin-top: 20px;
                    font-family: "Brush Script MT", cursive;
                    font-size: 28px;
                }

                p {
                    margin-top: 10px;
                }
            }

            .card:hover {
                box-shadow: 0 0 15px 0 black;
                transition: 0.7s;
            }
        }
    }

    .contact {
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 70px;
        margin-top: 100px;

        .info {
            h2 {
                font-size: 30px;
            }

            .opening {
                margin-top: 26px;
                margin-bottom: 10px;

                label {
                    font-size: 38px;
                    font-family: "Brush Script MT", cursive;
                }
            }

            form {
                input {
                    border: 2px solid #444;
                    width: 360px;
                    height: 40px;
                    margin-top: 10px;
                    padding-left: 10px;
                    border-radius: 5px;
                }

                textarea {
                    border: 2px solid #444;
                    width: 350px;
                    height: 70px;
                    margin-top: 10px;
                    padding: 10px;
                    border-radius: 5px;
                }

                button {
                    float: right;
                    padding: 2px;
                    width: 100px;
                    height: 30px;
                    margin-top: 10px;
                    border: none;
                    border-radius: 5px;
                    background-color: black;
                    color: white;
                    box-shadow: 0 0 3px 0 black;
                }

                button:hover {
                    background-color: white;
                    color: black;
                    transition: 0.4s;
                }
            }
        }

        .image {
            img {
                width: 400px;
                height: 50vh;
            }
        }
    }
}

footer {
    margin-top: 150px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}